{% extends "_masterpage.html" %}
{% block body %}
<div class="aboutbox"><h2>About us</h2><p>Constantly refreshing a page waiting for it to change?  Check a site every morning to see if registration has opened?  Well why not let us do that for you!</p><br /> 
	<p>We will monitor a url for you and notify you if there is any change to the page via email or twitter</p>
</div>
    <div class="content">cv    v
    	<h2>Watch this for me</h2>
          <form action="/add" method="post">
             <p><label for="Url">Url</label> 
             <input class="form-textbox" id="Url" maxlength="135" name="Url" type="text" value="" /> </p>
             <br />
              <p><label for="Email">When it changes email</label> 
             <input class="form-textbox" id="Email" maxlength="135" name="Email" type="text" value="" /> </p>
             <br />
             <p><label for="AlertTimes">Alert Me</label> </p>
            <p><input type="radio" name="AlertTimes" value="1" checked="" style="padding: 10px" />Just of the next change</p>
			<p><input type="radio" name="AlertTimes" value="0" style="padding: 10px" />Every change till I disable it </p>
            <br />         
            <p><input type="submit" class="submit-button" value="Add Alert" /></p>
          </form>
        </div>
        <br /> <br />
        <div class="title"><h2>Latest Monitored Urls</h2>
        <div id="results">
        	 
{% if checks|length > 0 %}
{% for check in checks %}
        <div class="ignore-result"><p class="ignore-name"><a href="{{ check.url }}">{{ check.url }}</a> <b>Last checked:</b> {{ check.last_check.strftime('%h:%m %d %m %y') }}</p>
                <p class="ignore-desc"><a href="#"><img src="{{ url_for('static', filename='watch_small.png') }}" />Alert me about changes</a></p>
               
        </div>
{% endfor %}
{% else %}
    <div class="ignore-result">
        <h2>Sorry, we're empty at the moment!</h2>
        </div>
    </div>
{% endif %}
        </div>
        
{% endblock %}