{% extends "_masterpage.html" %}
{% block body %}
{% with messages = get_flashed_messages(with_categories=true)  %}
{% if messages %}
    {% for cat, msg in messages  %}
    <div class="notification-{{ cat }}">{{ msg }}</div>
    {% endfor %}
{% endif  %}
{% endwith  %}
<div class="aboutbox"><h2>About us</h2><p>Constantly refreshing a page waiting for it to change?  Check a site every morning to see if registration has opened?  Well why not let us do that for you!</p><br /> 
	<p>We will monitor a url for you and notify you if there is any change to the page via email or twitter</p>
</div>
    <div class="content">
    	<div class="stand-out">
    	<h2>Watch this for me</h2>
          <form action="/add" method="post">
             <p><label for="Url">Url</label> 
             <input class="form-textbox" id="Url" maxlength="135" name="Url" type="text" value="" /> </p>
             <br />
              <p><label for="Email">When it changes email</label> 
             <input class="form-textbox" id="Email" maxlength="135" name="Email" type="text" value="" /> </p>
             <br />
             <p><label for="AlertTimes">Alert Me</label> </p>
            <p><input type="radio" name="AlertTimes" value="1" checked="" style="padding: 10px" />Just of the next change</p>
            <p><input type="radio" name="AlertTimes" value="0" style="padding: 10px" />Every change till I disable it </p>
            <br />         
            <p><input type="submit" class="submit-button" value="Add Alert" /></p>
          </form>
        </div>
        <br /> <br />
        <div class="title"><h2>Latest Monitored Urls</h2>
        <div id="results">

{% if checks|length > 0 %}
{% for check in checks %}
        <div class="ignore-result"><p class="ignore-name"><a href="{{ check.url }}" class="url_watched" >{{ check.url }}</a> <span style="float: right"><b>Last checked:</b> {{ check.last_check.strftime('%H:%M %d-%m-%y') }}</span></p>
            <p class="ignore-desc"><a rel="leanModal"  href="#extra-alert" class="add-alert"><img src="{{ url_for('static', filename='watch_small.png') }}" />Alert me about changes</a></p>
        </div>
{% endfor %}
{% else %}
    <div class="ignore-result">
        <h2>Sorry, we're empty at the moment!</h2>
        </div>
    </div>
{% endif %}
        </div>
        <script type="text/javascript">
    $(function (){
        $('a.add-alert').click(function() {
            var container = $(this).parents('.ignore-result');
            var target = container.find('.url_watched').attr('href');
            $('#add_alert_url').attr('href', target);
            $('#add_alert_url').html(target);
            $('#hidden_url').attr('value', target);
        });
        $("a[rel*=leanModal]").leanModal(); 
    });
    </script>
        <div id="extra-alert">
            <img src="/static/close.png" id="close-button" />
            <h3>Alert me when <a href="" id="add_alert_url"></a> changes</h3>
            <br />
            <form action="/add" method="post">
                <br />
                <p><label for="Email">When it changes email</label> 
                <input class="form-textbox" id="Email" maxlength="135" name="Email" type="text" value="" /> </p>
                <br />
                <p><label for="AlertTimes">Alert Me</label> </p>
                <p><input type="radio" name="AlertTimes" value="1" checked="" style="padding: 10px" />Just of the next change</p>
                <p><input type="radio" name="AlertTimes" value="0" style="padding: 10px" />Every change till I disable it </p>
                <br /> 
                <input type="hidden" value="" name="Url" id="hidden_url" /> 
                <p><input type="submit" class="submit-button" value="Add Alert" /></p>
            </form>
    </div>
{% endblock %}
